torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
soundfile
numpy==1.26.4
torchmetrics
torchmetrics[audio]
torch_audiomentations
tqdm
matplotlib
pandas
wandb
comet_ml
hydra-core

black
isort
pre-commit
hydra
wget